
<div class="hkb_earning_win">

    <!--动画-->
    <div class="earning_cartoon">
        <img src="../../icon/succeed-2.png">
        <div class="earning_circle">收款成功</div>

    </div>

    <!-- 文案 -->

    <div class="hkb_fail_text_bill">


        <div class="hkb_fail_bill">
            <span class="fail_bill_text">联华超市 凯旋路店</span>
        </div>

        <div class="hkb_fail_bill">
            <span class="fail_bill_text">金额：</span>
            <span class="fail_bill_text"> 125.00元</span>
        </div>

        <div class="hkb_fail_bill">
            <span class="fail_bill_text">收银员</span>
        </div>

        <div class="hkb_fail_bill">
            <span class="fail_bill_text">2017/6/16 15:00:00</span>
        </div>
    </div>


    <!--按钮-->
    <div class="earning_enter">
        <a class="button" href="../hkb_import/hkb_import.html">确定</a>
    </div>





</div>
