<div class="hkb_staff_status">

    <div class="hkb_staff_status_1">

        <img src="../../icon/logo.jpg ">

        <div class="hkb_imf">

                <div>员工姓名：庄中煲</div>
                <div>员工编号：007</div>

        </div>


    </div>


    <div class="hkb_staff_status_gather">

        <div class="gather_1">

            <div>

                <span>注册手机</span>

            </div>

            <div class="black">

                <span>16782761152</span>

            </div>

        </div>

        <div class="gather_1">

            <div>

                <span>商户名称</span>

            </div>

            <div class="black">

                <span>庄中煲餐饮有限公司</span>

            </div>

        </div>

        <div class="gather_1">

            <div>

                <span>门店名称</span>

            </div>

            <div class="black">

                <span>田林店</span>

            </div>

        </div>

        <div class="gather_2">

            <div class="gray">

                <span>角色名称</span>

            </div>

            <div>

                <span>总经理</span>

            </div>

        </div>
       <!-- 按钮-->
        <div class="hkb_staff_status_btn">


            <a class="status_btn" href="../hkb_service/hkb_service.html">返回</a>


        </div>


    </div>






</div>