<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>交易记录</title>
</head>
<body><!--style="background: #fff"-->

<%-include('../../component/hkb_transaction/transaction_record.ejs')%>


</body>
</html>