<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>商户注册</title>
</head>
<body style="background: #fff">

<%-include('../../component/hkb_register/hkb_main_register.ejs')%>


</body>
</html>