<div class="send_back">


    <div class="send_back_1">

        <div>
            <span class="send_back_01">96.00</span>
            <br>
        <span class="send_back_02">交易金额（元）</span>
        </div>


    </div>


    <div class="send_back_2">


        <div class="send_back_text_1">


            <div >

                <span class="gray">流水号</span>
                <span>03690000000000000000</span>

            </div>

        </div>

    </div>


    <div class="send_back_3">

        <div class="send_back_text_2">

            <div >

                <span class="gray">动态口令</span>

                <input type="tel" pattern="[0-9]*" placeholder="请输入手机动态口令"/>

            </div>

        </div>


        <input type="button" class="send_back_btn_1" value="获取验证码" onclick="sendCode(this)">

    </div>


    <div class="send_back_btn">

       <a class="back_btn" href="../hkb_refund/hkb_refund.html">确认退款</a>

    </div>





</div>