<div class="hkb_transaction_plate">

    <div class="transaction_title_1">

        <div class="transaction_writer_1">
            <img src="../../icon/store-1.png">海底捞田林路店</div>

    </div>


    <!--时间选择-->
    <div class="transaction_data">


        <div>
            <img class="calendar" src="../../icon/store-2.png"><span>2017-06-29</span>
        </div>

        <div class="selection_star_time">

            <span>点击选择开始时间</span>
            <img src="../../icon/direction.png">
            <input type="date">

        </div>

    </div>

    <!--时间选择-->
    <div class="transaction_data">

        <div>
            <img class="calendar" src="../../icon/store-2.png"><span>2017-07-29</span>
        </div>

        <div class="selection_end_time">

            <span>点击选择结束时间</span>
            <img src="../../icon/direction.png">
            <input type="date">

        </div>

    </div>


    <div class="transaction_title_4">

        <div class="transaction_list">

            <div>消费总额(元)</div>
            <div class="pay">+23478.00</div>

        </div>

        <div class="transaction_list">

            <div>退款总额(元)</div>
            <div>-178.00</div>

        </div>


    </div>


    <div class="transaction_title_5">

        <div>

            <span>消费笔数:</span>
            <span>2687</span>

        </div>

        <div>

            <span>退款笔数:</span>
            <span>23</span>

        </div>


    </div>


</div>


<div class="hkb_transaction_background">


    <div class="transaction_title_6 hkb_alignment_left">

            <img src="../../icon/store-3.png">

            <div class="detailed_list hkb_alignment_center">

                <div>

                    <p>已收款</p>

                    <p>手机：130****2349</p>

                </div>

                <div>

                    <p>¥239.00</p>

                    <p>2017-06-23 10:05</p>

                </div>

            </div>




        </div>


    <div class="transaction_title_6 hkb_alignment_left">

        <img src="../../icon/store-3.png">

        <div class="detailed_list hkb_alignment_center">

            <div>

                <p>已收款</p>

                <p>手机：130****2349</p>

            </div>

            <div>

                <p>¥239.00</p>

                <p>2017-06-23 10:05</p>

            </div>

        </div>




    </div>


    <div class="transaction_title_6 hkb_alignment_left">

        <img src="../../icon/store-4.png">

        <div class="detailed_list hkb_alignment_center">

            <div>

                <p>已退款</p>

                <p>手机：130****2349</p>

            </div>

            <div>

                <p class="refund">¥239.00</p>

                <p>2017-06-23 10:05</p>

            </div>

        </div>




    </div>


    <div class="transaction_title_6 hkb_alignment_left">

        <img src="../../icon/store-3.png">

        <div class="detailed_list hkb_alignment_center">

            <div>

                <p>已收款</p>

                <p>手机：130****2349</p>

            </div>

            <div>

                <p>¥239.00</p>

                <p>2017-06-23 10:05</p>

            </div>

        </div>




    </div>

    <div class="transaction_title_6 hkb_alignment_left">

        <img src="../../icon/store-3.png">

        <div class="detailed_list hkb_alignment_center">

            <div>

                <p>已收款</p>

                <p>手机：130****2349</p>

            </div>

            <div>

                <p>¥239.00</p>

                <p>2017-06-23 10:05</p>

            </div>

        </div>




    </div>


    <div class="transaction_title_6 hkb_alignment_left">

        <img src="../../icon/store-3.png">

        <div class="detailed_list hkb_alignment_center">

            <div>

                <p>已收款</p>

                <p>手机：130****2349</p>

            </div>

            <div>

                <p>¥239.00</p>

                <p>2017-06-23 10:05</p>

            </div>

        </div>




    </div>


    <div class="transaction_title_6 hkb_alignment_left">

        <img src="../../icon/store-4.png">

        <div class="detailed_list hkb_alignment_center">

            <div>

                <p>已退款</p>

                <p>手机：130****2349</p>

            </div>

            <div>

                <p class="refund">¥239.00</p>

                <p>2017-06-23 10:05</p>

            </div>

        </div>




    </div>


    <div class="transaction_title_6 hkb_alignment_left">

        <img src="../../icon/store-3.png">

        <div class="detailed_list hkb_alignment_center">

            <div>

                <p>已收款</p>

                <p>手机：130****2349</p>

            </div>

            <div>

                <p>¥239.00</p>

                <p>2017-06-23 10:05</p>

            </div>

        </div>




    </div>



</div>





