<div class="hkb_business_page">


    <div class="hkb_business_title">欢迎注册汇卡宝</div>

    <!--输入手机号-->

    <div class="business_section">

        <div class="business_section_text">

            <img src="../../icon/logon2.png">

            <input type="tel" pattern="[0-9]*" placeholder="请输入手机号" maxlength="11" />


        </div>

        <input type="button" class="text_value_button" value="获取验证码" onclick="sendCode(this)">


    </div>



    <!--短信验证码-->

    <div class="business_section">

        <div class="business_section_text">

            <img src="../../icon/logon1.png"/>

            <input type="tel" pattern="[0-9]*" placeholder="请输入短信验证码" maxlength="6"/>

        </div>

    </div>

    <!--员工姓名-->

    <div class="business_section">

        <div class="business_section_text">

            <img src="../../icon/logon3.png"/>

            <input type="text" placeholder="请输入员工姓名"/>


        </div>


    </div>

    <!--员工编号-->

    <div class="business_section">

        <div class="business_section_text">

            <img src="../../icon/logon4.png"/>

            <input type="text" placeholder="请输入员工编号"/>

        </div>

    </div>


    <!--<div class="hkb_code">*短信验证码错误</div>-->

    <!-- 按钮-->

    <div class="hkb_btn_area">
        <a class="btn_hkb" href="../hkb_earning/hkb_earning.html">立即注册</a>
    </div>


</div>





