
<div class="hkb_refund_triumph">

    <!--动画-->
    <div class="refund_triumph_module">
        <img src="../../icon/succeed-2.png">
        <div class="refund_triumph_text">退款成功</div>

    </div>

    <!-- 文案 -->

    <div class="hkb_fail_text_bill">


        <div class="hkb_fail_bill">
            <span class="fail_bill_text">联华超市 凯旋路店</span>
        </div>

        <div class="hkb_fail_bill">
            <span class="fail_bill_text">金额：</span>
            <span class="fail_bill_text"> 125.00元</span>
        </div>

        <div class="hkb_fail_bill">
            <span class="fail_bill_text">收银员</span>
        </div>

        <div class="hkb_fail_bill">
            <span class="fail_bill_text">2017/6/16 15:00:00</span>
        </div>
    </div>


    <!--按钮-->
    <a class="refund_triumph_button" href="../hkb_back/hkb_back.html">
        <span class="triumph_key" >确定</span>
    </a>


</div>