<div class="hkb_bill_details">

    <div class="hkb_bill_details_1">

    <img src="../../icon/logo.jpg ">

    <div class="hkb_imf">

           <div>商户名：海底捞</div>

            <div>门店名：田林路店</div>

    </div>


</div>


    <div class="hkb_bill_details_2">

    <div>

        <span>交易金额（元）</span>

    </div>

    <div>

    <span>96.00</span>

    </div>


</div>


    <div class="hkb_bill_details_gather">

    <div class="gather_1">

    <div>

        <span>流水号</span>

    </div>

    <div>

        <span>03690000000000000000</span>

    </div>

    </div>

    <div class="gather_1">

        <div>

            <span>交易时间</span>

        </div>

        <div>

            <span>2017-06-30  17:56:00</span>

        </div>

    </div>

    <div class="gather_1">

        <div>

            <span>手机尾号</span>

        </div>

        <div>

            <span>****  ****  2349</span>

        </div>

    </div>

        <!-- 按钮-->

        <a class="hkb_bill_details_btn" href="../hkb_send/hkb_send.html">


            <span class="bill_btn" >同意退款</span>


        </a>


</div>






</div>