<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>收款成功</title>
</head>
<body style="background: #fff">

<%-include('../../component/hkb_earning/hkb_main_earning.ejs')%>


</body>
</html>