<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>账单详情</title>
</head>
<body>

<%-include('../../component/hkb_bill/hkb_main_bill.ejs')%>


</body>
</html>