<div class="hkb_statistics_data">

<!-- 标题-->
    <div class="statistics_data_1">

        <div class="transaction_writer_1">
            <img src="../../icon/store-1.png">海底捞田林路店</div>

    </div>

    <!--开始时间选择-->
    <div class="transaction_date">

        <label class="hkb_alignment_center">

            <div class="time_show">

                <img class="calendar" src="../../icon/store-2.png"><span>2017-06-29</span>

            </div>

            <div class="selection_star_time">

                <span>点击选择开始时间</span>
                <img src="../../icon/direction.png">
                <input type="date" class="input_date" id="starTime" value=""/>

            </div>

        </label>

    </div>

    <!--结束时间选择-->
    <div class="transaction_date">

        <label class="hkb_alignment_center">

            <div class="time_show">

                <img class="calendar" src="../../icon/store-2.png"><span>2017-07-29</span>

            </div>


            <div class="selection_end_time">

                <span>点击选择结束时间</span>
                <img src="../../icon/direction.png">
                <input type="date" class="input_date" id="endTime" value=""/>

            </div>


        </label>

    </div>

</div>


<div class="statistics_data_background" >


    <div class="statistics_data_4">

        <div class="statistics_data_name"><img src="../../icon/statistics.png">统计</div>
        
        <div>

            <span class="time">截止至<span >2017-06-29 23:59:59</span>交易统一如下</span>

        </div>




    </div>


    <div class="statistics_data_5">

        <div>

            <span>会员数量(个)</span><br>
            <span>10000</span>

        </div>

        <div>

            <span>会员卡余额(元)</span><br>
            <span>20,230.00</span>

        </div>


    </div>


</div>


<div class="statistics_data_information">


    <div class="transaction_title_6">


        <div>

            <span>充值交易(笔)</span><br>
            <span>10000</span>

        </div>

        <div>

            <span>充值金额[卡面额](元)</span><br>
            <span>2,120,230.00</span>

        </div>


    </div>

    <div class="transaction_title_6">


        <div>

            <span>消费交易(笔)</span><br>
            <span>173</span>

        </div>

        <div>

            <span>消费金额(元)</span><br>
            <span>3,230.00</span>

        </div>


    </div>

    <div class="transaction_title_6">


        <div>

            <span>退款交易(笔)</span><br>
            <span>7</span>

        </div>

        <div>

            <span>退款金额(元)</span><br>
            <span>20,230.00</span>

        </div>


    </div>


</div>

<script>


    transactionList.dateChoose();



</script>









































