
<div class="hkb_collection_succeed">

    <!--动画-->
    <div class="collection_succeed_animation">
        <div class="fail_animation">
            <div class="spinner"><i></i></div>
            <div class="wrong">
                <span class="line left"></span>
                <span class="line right"></span>
            </div>
        </div>
        <div class="collection_succeed_text">收款失败</div>

    </div>

    <!-- 文案 -->

    <div class="hkb_fail_text_bill">


        <div class="hkb_fail_bill">
            <span class="fail_bill_text">联华超市 凯旋路店</span>
        </div>

        <div class="hkb_fail_bill">
            <span class="fail_bill_text">金额：</span>
            <span class="fail_bill_text"> 125.00元</span>
        </div>

        <div class="hkb_fail_bill">
            <span class="fail_bill_text">收银员</span>
        </div>

        <div class="hkb_fail_bill">
            <span class="fail_bill_text">2017/6/16 15:00:00</span>
        </div>
    </div>


    <!--按钮-->
    <a class="collection_succeed_button" href="../hkb_transaction/hkb_transaction.html">
        <span class="succeed_key" >确定</span>
    </a>





</div>