<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>收款失败</title>
</head>
<body style="background: #fff">

<%-include('../../component/hkb_collection/hkb_main_collection.ejs')%>


</body>
</html>