<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>交易统计</title>
</head>
<body>

<%-include('../../component/hkb_statistics/hkb_main_statistics.ejs')%>


</body>
</html>